"@gammasiege:registry"="https://gitlab.com/api/v4/packages/npm/"

"//gitlab.com/api/v4/packages/npm/:_authToken"="Fvq_XsqD6SsmvmsvNBDf"

"//gitlab.com/api/v4/projects/25926344/packages/npm/:_authToken"="Fvq_XsqD6SsmvmsvNBDf"

//gitlab.com/api/v4/projects/:_authToken="Fvq_XsqD6SsmvmsvNBDf"
